body {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    width: 1239px;
}

.topnav {
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: fixed;
    margin: 0%;
    width: 1239px;
}

.topnav .index {
    padding-left: 15%;
    padding-right: 5%;
    width: 80%;
}

.topnav .index a {
    color: black;
    text-decoration: none;
    padding-left: 12%;
}

.topnav .index a.active {
    color: #b09454;
}

.topnav .heading {
    width: 20%;
    overflow: hidden;
    color: #b09454;
    padding-left: 10%;
}

.front {
    background-image: url('image3.png');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 45px;
    padding-top: 20%;
    padding-bottom: 20%;
    background-attachment: fixed;
    width: 1239px;
}

.wrap {
    padding: 6%;
    display: flex;
    width: 1091px;
}

.services {
    background-image: url("flower.png");
    background-position: center;
    padding: 7% 2% 7% 2%;
    margin-right: 8%;
    color: white;
    width: 27%;
    max-height: 429px;
}

.img {
    max-width: 659px;
}

.test {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 6%;
    width: 1239px;
}

.test .leftar {
    float: left;
    padding-top: 6%;
    padding-left: 8%;
}

.test .rightar {
    float: right;
    padding-top: 6%;
    padding-right: 8%;    
}

.gallery {
    background-image: url("image2.png");
    height: 685px;
    background-repeat: no-repeat;
    margin: 6%;
    display: flex;
    background-size: 1164px;
    background-attachment: fixed;
}

.gallery .block {
    background-image: url("flower.png");
    background-position: center;
    float: right;
    margin: 7% 7% 7% 67%;
    color: white;
    padding: 6% 4% 6% 4%;
    text-align: center;
}

.button2 {
    border: 1px solid white;
    background-color: transparent;
    overflow: hidden;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
}

.button {
    border: 1px solid white;
    background-color: transparent;
    overflow: hidden;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: small;
}

.add {
background-image: url("flower.png");
  color: white;
  padding: 5%;
    padding-right: 5%;
    padding-left: 5%;
  margin: 6%;
    margin-bottom: 6%;
  margin-bottom: 3%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  padding-left: 8%;
  padding-right: 8%;
  width: 893px;
}
.solid {
    margin: 1%;
    color: white;
}

.add .info {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.add .book {
    padding: 2%;
}